node_modules
**/node_modules
.next
**/.next
dist
**/dist
.git
.gitignore
**/.env
**/.env.*
!**/.env.example
apps/mobile/*
!apps/mobile/package.json
docs
**/*.md
**/coverage
**/.turbo
**/.DS_Store
terminals
assets
*.log
