# URL pública da API (homologação ou IP local no dispositivo)
# Homologação exemplo:
# EXPO_PUBLIC_API_URL=https://wms-backend-4dhznc-57e100-177-7-39-127.sslip.io
EXPO_PUBLIC_API_URL=http://192.168.1.100:3333
